@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

* {
  margin: none;
  padding: none;
}

body {
  font-family: 'Lato', sans-serif;
}

.main-container {
  display: grid;
  place-items: center;
  margin: auto;
  width: 60%;
  margin-top: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  padding: 0rem 1rem 1rem 1rem;
}

.header {
  background: #3b40b8;
  color: white;
  padding: 1% 35%;
}

.buttons {
  display: flex;
  gap: 0.5rem;
}

.button {
  color: white;
  background: #4040b9;
  border: none;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
}